body    {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    width: 100vw;
    height: auto;
    margin: 0;
	background-color: white;
	color: black;}
.job-name {
	font-weight: 600;
	font-size: 1vw;
	margin-top: 5vh;
}
/* PUSH MENU */
#menu {
	display: none;
}
#menu {
    position: fixed;
    width: 25vw;
    height: 100vw;
    padding: 0;
    float: left;
    /*
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;*/
    background-color: #314f4f;
    color: #dae7e8;
    overflow: auto;}
#menu:hover {
    color: white;
    background-color: #395655;
    transition: 1s;
}
#menu ul {
    padding: 0;
    height: 60%;
    width: 100%;
    margin-top: 10%;}
#menu ul li a {
    display: block;
    line-height: 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2.5% 0;
    color: white;
    font-weight: 300;}
#menu ul li:hover {
    background-color: #314f4f;
}
#menu ul li a:hover {
    letter-spacing: 1px;}
#menu ul li:nth-child(7):hover {
    background-color: inherit;
}
#menu img {
    display: block;
    margin-left: auto;
    margin-right: auto;}
/* MAIN PAGE */
.page-wrap {
    height: auto;
    width: 100vw;
    padding: 0;}
.container {
	height: auto;
	width: 85vw;
	padding: 0 7.5vw;}
@media screen and (min-device-width: 1920px) {
    .container {
	height: auto;
	width: 70vw;
	padding: 0 15vw;}
}
/* Disable Button */
button{
    display: none;
}
header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    width: 75vw;
	padding: 10vh 15vw;
    height: auto;
    color: whitesmoke;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e84843+0,e9625b+100 */
background: #e84843; /* Old browsers */
background: -moz-linear-gradient(left,  #e84843 0%, #e9625b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e84843), color-stop(100%,#e9625b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e84843 0%,#e9625b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e84843 0%,#e9625b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e84843 0%,#e9625b 100%); /* IE10+ */
background: linear-gradient(to right,  #e84843 0%,#e9625b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84843', endColorstr='#e9625b',GradientType=1 ); /* IE6-9 */
/

}
header h1 {
    font-size: 8vh;
	line-height: 1em;}
header p {
	font-size: 4vh;
	font-weight: 300;
	line-height: 0;
}
#left-inner {
	width: 35%;
	margin-right: 25%;
	height: auto;
	float: left;}
#right-inner {
	width: 32.5%;
	height: auto;
	min-height: 100vh;
	padding: 0 5% 0 2.5%;
	float: left;
}
#left-inner h2, #right-inner h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 5vh;
	margin-bottom: 2vh;
}
table {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 5%;
	
}
table tr td{
	padding-bottom: 5%;
}
table tr td:first-child {
	width: 40%;
	height: auto;
	
}
table tr td {
	width: 8%;
	height: auto;
	vertical-align: middle;
}
table img {
	height: auto;
	width: 60%;
	margin-left: 15%;
	margin-top: 1%;
}
#works-menu {
	width: 85%;
	height: auto;
	margin: 0 15% 10% 0;
	text-align: center;
	vertical-align: middle;
	background-color: #e9625b;
	color: white;
	font-size: 2vh;
}
#works-menu td {
	width: 50%;
	height: 100%;
	padding: 2%;
	vertical-align: middle;
	
}
#show_Writing {
	background-color: white;
	color: #e9625b;
}
#design-work, #writing-work{
    height: auto;
    margin: auto;
}
#writing-work{
    display:none;}
#design-work {
    display: block;}
}

article {
	width: 100%;
	height: auto;
}
footer {
	width: 90%;
	height: auto;
	float: left;
	margin: 10% 5% 5% 5%;
	border-top: solid #e9625b;
}
footer ul {
	width: 37.5%;
	margin-left: 63.5%;
	list-style: none;
	padding-left: 0;
}
#list-name {
	font-weight: 600;
	font-size: 2.5vh;
	color: #e9625b;
	margin-bottom: 2%;
}
footer li {
	padding: 2% 0;
	font-size: 1.5vh;
}
.CLEAR {
    clear: both;
}